[Desktop Entry]
Name=Emoji Selector
Type=Application
Exec=cosmic-applet-emoji-selector
Terminal=false
Categories=Cosmic;Iced;
Keywords=Cosmic;Iced;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=dev.dominiccgeh.CosmicAppletEmojiSelector-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=true